.traffic-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
    justify-content: center; 
  }
  .light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  
  .red {
    background-color: red;
    opacity: 0.5;
  }
  
  .orange {
    background-color: orange;
    opacity: 0.5;
  }
  
  .green {
    background-color: green;
    opacity: 0.5;
  }
  .app-container {
    display: flex;
    justify-content: center; 
         
  }
  .red.active,
.orange.active,
.green.active {
  opacity: 2;
  animation: flash 2s infinite;
}